.topImg {
    height: 323px;
    width: 530px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}
.topImg:hover {
    height: 323px;
    width: 530px;
    opacity: 0.5;
}

.ContentBox {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
